{% include "header.html" %}

<div class="jumbotron" style="text-align: center;">
  <h1 class="display-4">Powered by Flask.</h1>
  <p class="lead">Image Color Palette </p>
  <hr class="my-4">
  <p>Click below to upload an image</p>
  <p>
    <a class="btn btn-dark" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Start
    </a>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <div class="container">
        <form  method="POST" enctype="multipart/form-data" role="form" class="form-horizontal">
          {{ form.hidden_tag() }}
          {{ form.file }}
          <input type="submit">
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container">

<img src="data:;base64,{{ image }}" width="500" height="500" class="rounded mx-auto d-block">
<hr>
<div class="container-fluid text-center">
  {% for i in hexname %}
    {% set item_1 = hexname[loop.index-1] %}
    {% set item_2 = hexper[loop.index-1] %}
    <div class="row justify-content-center">
      <div class="card" style="width: 18rem;">
         <div class="card-header" style="background-color: {{ item_1 }};">
         </div>
         <ul class="list-group list-group-flush">
           <li class="list-group-item">{{ item_1 }} appears {{ item_2 }}% of the time</li>
         </ul>
      </div>
    </div>
  <br>
  {% endfor %}
</div>
</div>



{% include "footer.html" %}